@using System.Reflection
@using Flights.Client.Shared.Toolkit

@inject IJSRuntime JSRuntime

<MudAppBar Elevation="3" Style="@($"background:{Colors.Indigo.Darken4};")">
    <div class="w-4 h-4">
        <img src="dart.svg" />
    </div>
    <MudText Typo="Typo.button" HtmlTag="h3" Class="ml-3">Flights</MudText>
    <MudSpacer />
    <Clock/>
    <MudSpacer />
    <MudIconButton Icon="@Icons.Material.Filled.Fullscreen" Size="Size.Medium" Color="Color.Inherit" OnClick="ToggleFullscreen"/>    
    <div class="text-xs mt-1">
        @GetVersion()
    </div>
</MudAppBar>

@code{

    public string GetVersion()
    {
        var assembly = Assembly.GetExecutingAssembly();
        var version = assembly?.GetName()?.Version?.ToString(2) ?? string.Empty;

        return "v " + version;
    }

    public async Task ToggleFullscreen()
    {
        await JSRuntime.InvokeVoidAsync("toggleFullScreen");
    }
}