@inherits LayoutComponentBase

<PageTitle>Flights</PageTitle>

<MudThemeProvider Theme="@_customTheme"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <AppBar/>
    <MudMainContent>
        <div class="pt-1">
            @Body
        </div>        
    </MudMainContent>
</MudLayout>

@code{

    private readonly MudTheme _customTheme = new()
    {
        LayoutProperties = new LayoutProperties
        {
            AppbarHeight = "40px"
        }
    };
}
