@using Flights.Client.Authentication
@using Flights.Client.Service.Port

@inherits LayoutComponentBase

@inject IThemeInfoProvider ThemeInfoProvider
@inject IBrowserStorage BrowserStorage
@inject IAuthenticationService AuthenticationService

<PageTitle>Flights</PageTitle>

<MudThemeProvider Theme="@_customTheme" @bind-IsDarkMode="@IsDark"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider class="mt-6"/>
       
<MudLayout  class="@GetThemeClass()">
    <AppBar ToggleTheme="@ToggleTheme"/>
    <MudMainContent class="flex flex-1 overflow-hidden">
        <AuthorizeView>
            <Authorized>
                <div class="pt-1 flex flex-1 overflow-hidden">
                    @Body
                </div>
            </Authorized>
            <NotAuthorized>
                <Login/>
            </NotAuthorized>
        </AuthorizeView>
    </MudMainContent>
</MudLayout>

@code{
    private const string BrowserStorageThemeKey = "DarkMode";

    private bool IsDark {get;set;}

    private readonly MudTheme _customTheme = new()
    {
        LayoutProperties = new LayoutProperties
        {
            AppbarHeight = "40px"
        }
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(AuthenticationService.Tenant == null)
            await AuthenticationService.TryAutoAuthenticate();

        if (firstRender)
        {
            var isDark = await BrowserStorage.GetBrowserItem<bool?>(BrowserStorageThemeKey);
            
            if (isDark == true)
            {
                IsDark = true;
                ThemeInfoProvider.IsDarkMode = IsDark;
                StateHasChanged();
            }
        }
    }

    private async Task ToggleTheme()
    {
        IsDark = !IsDark;
        
        ThemeInfoProvider.IsDarkMode = IsDark;
        await BrowserStorage.SetBrowserItem(BrowserStorageThemeKey, IsDark);
    }

    private string GetThemeClass(){
        var baseClass = "flex min-h-screen max-h-screen bg-light-background overflow-hidden dark:bg-dark-background";

        if(IsDark)
        baseClass += " dark ";
            

        return baseClass;
    }
}
