@using Flights.Domain.Entities.Game
@using Flights.Domain.ReadModels

<div class="flex flex-row text-gray-300 dark:text-gray-700">
    <div class="text-gray-900 dark:text-gray-100">
        @GetGameNameString()
    </div>
    @if(Game.Type == GameType.X01)
    {
        <div class="ml-8">
            @Game.X01Target
        </div>
    }
    @if(Game.Type == GameType.CtCricket)
    {
        <div class="ml-4 text-2xl mt-2">
            Cut-Throat
        </div>
    }
</div>

@code{
    [Parameter]
    public GameListItemReadModel Game { get; set; } = null!;

    private string GetGameNameString(){
        switch(Game.Type){
            case GameType.X01:
                return "X01";
            case GameType.Cricket:
            case GameType.CtCricket:
                return "Cricket";
                case GameType.AroundTheClock:
                return "Around The Clock";
            default:
                return "unknown game";
        }
    }
}