@using Flights.Client.Shared.Game.Cricket.SVG
@using Flights.Domain.State;

<div class="flex flex-row">
    <div>
        Caption
    </div>
    <div>
        <CricketValueIcon IconValue="@IconValue"/>
    </div>
</div>

@code{

    [Parameter]
    public CricketValue? IconValue {get;set;}

    [Parameter]
    public string Caption {get;set;} = string.Empty;


}    

