@using Flights.Client.Shared.Game.Cricket.SVG
@using Flights.Domain.State;

<div class="flex flex-row">
    <div>
        @if(!string.IsNullOrEmpty(Caption)){
            <div class="text-4xl w-[50px] text-center font-bold text-gray-500 mt-2 mr-4">
                @Caption
            </div>
        }
    </div>
    <div>
        <CricketValueIcon IconValue="@IconValue" IsPlayer="@IsPlayer" IsCurrentPlayer="@IsCurrentPlayer"/>
    </div>
</div>

@code{

    [Parameter]
    public CricketValue? IconValue {get;set;}

    [Parameter]
    public string Caption {get;set;} = string.Empty;

    [Parameter]
    public bool IsPlayer {get;set;}

    [Parameter]
    public bool IsCurrentPlayer {get;set;}
}    

