@page "/game/{GameId:guid}"

@using Flights.Client.Shared.Game
@using Flights.Client.Shared.Game.X01
@using Flights.Domain.Entities
@using Flights.Domain.Exceptions
@using Flights.Domain.Models
@using Flights.Domain.State
@using Flights.Infrastructure.Port

@inject ISnackbar Snackbar
@inject IGameRepository GameRepo
@inject IJSRuntime JSRuntime

@if(CurrentGame != null){
    switch(CurrentGame.Type){
        case GameType.X01:
            <X01Game CurrentGame="@CurrentGame" 
                ReportScore="@ReportScore"
                RevertDart="@RequestRevertDart"/>
            break;
        default:
            <div>
                Nothing
            </div>
            break;
    }
}

@code{

    [Parameter]
    public Guid GameId { get; set; }

    private GameState? CurrentGame {get;set;} = null!;
    protected override async Task OnInitializedAsync() {
        var model = await GameRepo.GetGame(GameId);
        CurrentGame = model.SolveGameState();
    }

    private async Task ReportScore(StatModel model){
        if(CurrentGame?.CurrentPlayerId == null)
            return;

        try{
            CurrentGame = await GameRepo.AddPlayerStat(GameId, CurrentGame.CurrentPlayerId!.Value, model);
        }catch(FlightsGameException ex){
            Snackbar.Add(ex.Message, Severity.Error);
        }              
    }

    private async Task RequestRevertDart(){
        if(CurrentGame?.Finished == true)
            return;

        try{
            CurrentGame = await GameRepo.RevertLastDart(GameId);
        }catch(FlightsGameException ex){
            Snackbar.Add(ex.Message, Severity.Error);
        }            
    }

    protected override async Task OnAfterRenderAsync(bool firstRender){
        var id = CurrentGame?.CurrentPlayerId;

        if(id == null)
            return;

        await JSRuntime.InvokeVoidAsync("scrollToControl", id.ToString());
    }
}
