@page "/game/{GameId:guid}"

@using Flights.Domain.Exception
@using Flights.Domain.Models
@using Flights.Domain.State
@using Flights.Infrastructure.Port
@using Flights.Client.Shared.Game
@using Flights.Domain.Entities.Game
@using Flights.Client.Rtc
@using Flights.Util

@inject ISnackbar Snackbar
@inject IGameRepository GameRepo

@inherits RtcHubComponent

<div>
    @if (GameControls != null)
    {
        <CascadingValue Value="@GameControls">
            <CascadingValue Value="@UndoControls">
                <GameBaseComponent/>
                <JinglePlayer @ref="_jinglePlayer" GameId="@GameId"/>
            </CascadingValue>
        </CascadingValue>
    }
</div>

@code{

    [Parameter]
    public Guid GameId { get; set; }

    private GameControls? GameControls {get;set;}
    
    private UndoControls? UndoControls {get;set;}

    private JinglePlayer? _jinglePlayer;

    private List<StatModel> _undoStack = new();
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        
        var model = await GameRepo.GetGame(GameId);
        var currentGame = model.SolveGameState();

        UndoControls = new UndoControls()
        {
            UndoStack = _undoStack,
            RequestUndoDart = RequestUndoDart,
            RequestRedoDart = RequestRedoDart,
            RequestAbortUndo = RequestAbortUndo
        };

        GameControls = new GameControls
        {
            DisplayType = DisplayType.Normal,
            CurrentGame = currentGame,
            ReportScore = ReportScore,
            ReportNullDart = ReportNullDart,
        };

        await Broadcast(UiEventType.LoadedGame, GameControls.CurrentGame.Id);
    }

    private async Task ReportScore(StatModel model){
        if(GameControls?.CurrentGame.CurrentPlayerId == null)
            return;

        try
        {
            var currentGame = GameControls.CurrentGame;
            var currPlayerId = currentGame.CurrentPlayerId!.Value;
            var oldState = currentGame;
            
            currentGame = await GameRepo.AddPlayerStat(GameId, currPlayerId, model);

            if (model.Value == 26 && currPlayerId == GameControls.CurrentGame.CurrentPlayerId)
            {
                await GameRepo.AddPlayerStat(GameId, currPlayerId, StatModel.Init(0));
                currentGame = await GameRepo.AddPlayerStat(GameId, currPlayerId, StatModel.Init(0));
            }
            
            _undoStack.RemoveLast();
            GameControls.CurrentGame = currentGame;
            await InvokeAsync(StateHasChanged);
            
            await Broadcast(UiEventType.UpdatedGame, currentGame.Id);
            await ValidatePlayJingle(oldState, currentGame, currPlayerId);
        }catch(FlightsGameException ex){
            Snackbar.Add(ex.Message, Severity.Error);
        }              
    }

    private async Task ReportNullDart(){
        if(GameControls?.CurrentGame.CurrentPlayerId == null)
            return;

        var currentGame = GameControls.CurrentGame;
        var currentPlayer = currentGame.PlayerStates.First(x => x.PlayerId == currentGame.CurrentPlayerId);
        var remainingDarts = currentPlayer.Darts?.RemainingDarts() ?? 3;

        try
        {
            for(var i = remainingDarts; i > 0; i--)
                currentGame = await GameRepo.AddPlayerStat(GameId, currentPlayer.PlayerId, StatModel.Init(0));

            _undoStack.RemoveLast(remainingDarts);
            GameControls.CurrentGame = currentGame;
            await InvokeAsync(StateHasChanged);
            
            await Broadcast(UiEventType.UpdatedGame, currentGame.Id);
        }catch(FlightsGameException ex){
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }

    private async Task RequestUndoDart(){
        if(GameControls == null)
            return;

        try{
            var (state, stat) = await GameRepo.RevertLastDart(GameId);
            
            _undoStack.Add(stat);
            GameControls.CurrentGame = state;
            await InvokeAsync(StateHasChanged);
            await Broadcast(UiEventType.UpdatedGame, GameControls.CurrentGame.Id);
        }catch(FlightsGameException ex){
            Snackbar.Add(ex.Message, Severity.Error);
        }            
    }

    public async Task RequestRedoDart()
    {
        if(GameControls == null || !_undoStack.Any())
            return;

        try
        {
            var lastUndone = _undoStack.Last();
            _undoStack.Remove(lastUndone);
            
            var currentGame = GameControls.CurrentGame;
            var currPlayerId = currentGame.CurrentPlayerId!.Value;
            
            currentGame = await GameRepo.AddPlayerStat(GameId, currPlayerId, lastUndone);
            
            GameControls.CurrentGame = currentGame;
            await InvokeAsync(StateHasChanged);
            
            await Broadcast(UiEventType.UpdatedGame, currentGame.Id);
        }catch(FlightsGameException ex){
            Snackbar.Add(ex.Message, Severity.Error);
        }   
    }
    
    public async Task RequestAbortUndo()
    {
        if(GameControls == null || !_undoStack.Any())
            return;

        try
        {
            var currentGame = GameControls.CurrentGame;            

            for (var i = _undoStack.Count - 1; i >= 0; i--){
                var currPlayerId = currentGame.CurrentPlayerId!.Value;
                currentGame = await GameRepo.AddPlayerStat(GameId, currPlayerId, _undoStack[i]);
            }            
            
            _undoStack.Clear();
            GameControls.CurrentGame = currentGame;
            await InvokeAsync(StateHasChanged);
            
            await Broadcast(UiEventType.UpdatedGame, currentGame.Id);
        }catch(FlightsGameException ex){
            Snackbar.Add(ex.Message, Severity.Error);
        }   
    }

    private async Task ValidatePlayJingle(GameState oldState, GameState newState, Guid? playerId)
    {
        if (playerId == null)
            return;

        if (oldState is { Type: GameType.AroundTheClock, Finished: false } && newState.Finished)
        {
            var firstPlayer = newState.PlayerStates.FirstOrDefault(x => x.Rank == 1);
            if(firstPlayer != null)
                await _jinglePlayer!.PlayJingle(firstPlayer.PlayerId);

            return;
        }

        var oldRank = oldState.PlayerStates.First(x => x.PlayerId == playerId).Rank;
        var newRank = newState.PlayerStates.First(x => x.PlayerId == playerId).Rank;
        
        if(oldRank == null && newRank != null)
            await _jinglePlayer!.PlayJingle(playerId.Value);
    }
}
