@page "/tournament/{TournamentId:guid}"

@using Flights.Client.Rtc
@using Flights.Client.Shared.Tournament
@using Flights.Domain.Exception
@using Flights.Infrastructure.Port
@using Flights.Domain.State

@inject ITournamentRepository TournamentRepo
@inject ISnackbar Snackbar

@inherits RtcHubComponent

<div>
    @if (CurrentTournament != null)
    {
        <TournamentBaseComponent CurrentTournament="@CurrentTournament"
                                 RequestSkipLosersCup="@SkipLosersCup"
                                 RequestSwitchPlayerOrder="@SwitchPlayerOrder"
                                 RequestDevFinishGame="@DevFinishGame"/>
    }
</div>

@code{

    [Parameter] 
    public Guid TournamentId { get; set; }

    private TournamentState? CurrentTournament {get;set;}
    
    protected override async Task OnInitializedAsync() 
    {
        await base.OnInitializedAsync();
        
        var model = await TournamentRepo.GetTournament(TournamentId);
        CurrentTournament = model.ResolveTournamentState();
        
        await Broadcast(UiEventType.LoadedTournament, TournamentId);
    }

    private async Task DevFinishGame(Guid gameId)
    {
        if (CurrentTournament == null)
            return;
        
        try
        {
            var newState = await TournamentRepo.DevFinishGame(CurrentTournament.Id, gameId);
            CurrentTournament = newState;
            
            await Broadcast(UiEventType.UpdatedTournament, TournamentId);
        }
        catch (FlightsGameException ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
        catch (Exception e)
        {
            Snackbar.Add("unknown error:" + e.Message, Severity.Error);
        }
    }
    
    private async Task SwitchPlayerOrder(Guid gameId)
    {
        if (CurrentTournament == null)
            return;
        
        try
        {
            var newState = await TournamentRepo.SwitchPlayerOrder(CurrentTournament.Id, gameId);
            CurrentTournament = newState;
            
            await Broadcast(UiEventType.UpdatedTournament, TournamentId);
        }
        catch (FlightsGameException ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
        catch (Exception e)
        {
            Snackbar.Add("unknown error:" + e.Message, Severity.Error);
        }
    }

    private async Task SkipLosersCup()
    {
        if (CurrentTournament == null)
            return;
        
        try
        {
            var newState = await TournamentRepo.SkipLosersCup(CurrentTournament.Id);
            CurrentTournament = newState;
            
            await Broadcast(UiEventType.UpdatedTournament, TournamentId);
        }
        catch (FlightsGameException ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
        catch (Exception e)
        {
            Snackbar.Add("unknown error:" + e.Message, Severity.Error);
        }
    }
}