@using Flights.Domain.Entities

@inject NavigationManager NavigationManager

<div class="border rounded mb-3 px-4 py-2 mud-elevation-4 prevent-select border-light-border bg-light-surface dark:border-dark-border dark:bg-dark-surface"  @onclick="() => GoToPlayer()">
    <div class="flex flex-row">
         <div class="text-4xl w-[300px]">
             @Player.Name
         </div>   
         <div class="flex-auto">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Size="Size.Large" Color="Color.Default"/>
         </div>
    </div>
</div>

@code{

    [Parameter]
    public PlayerEntity Player { get; set; } = null!;

    private void GoToPlayer()
    {
        NavigationManager.NavigateTo("/player/" + Player.Id);
    }
}