<div class="flex flex-row mx-1 h-[752px] overflow-hidden">
    
    <div class="flex flex-column flex-auto mr-1 overflow-hidden">   
        <div class="overflow-auto">
            @foreach(var stat in Controls.CurrentGame.PlayerStates){
                <PlayerStats Player="@stat" CurrentPlayerId="@Controls.CurrentGame.CurrentPlayerId"/>
            }
        </div>
    </div>
    <div class="flex-shrink">
        <ScoreButtonBoard/>
    </div>
</div>

@code{
    [CascadingParameter]
    public required GameControls Controls { get; set; }
}