@using Flights.Domain.State
@using Flights.Domain.Entities.Game

<div class="flex flex-row">
    @foreach(var dart in Checkout?.GetDartsList() ?? new List<DartState>()){
        <div class="@GetPillClasses()">
            @GetDartString(dart)
        </div>
    }
</div>

@code{
    [Parameter]
    public DartsState? Checkout {get;set;}

    [Parameter]
    public bool IsCurrentPlayer {get;set;}

    public string GetDartString(DartState dart){
        var result = "";

        switch(dart.Modifier){
            case DartModifier.None:
                break;
            case DartModifier.Double:
                result += "D/";
                break;
            case DartModifier.Triple:
                result += "T/";
                break;
        }

        result += dart.Value;
        return result;
    }

    private string GetPillClasses(){
        var baseClass = "rounded-full font-semibold text-2xl py-1 px-4 mr-2 ";

        if(IsCurrentPlayer)
            return baseClass + "bg-blue-800 text-white ";

        return baseClass + "bg-gray-400 text-white ";
    }
}