@inject IJSRuntime JsRuntime

<div id="@Id">
    0
</div>

@code{
    private string Id = "points-" + Guid.NewGuid().ToString();

    private int PointsInternal = 0;

    [Parameter]
    public required int Points {get;set;}

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender){
            await UpdatePoints();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    protected override async Task OnParametersSetAsync(){
        if(Points == PointsInternal)
            return;

        await UpdatePoints();
    }

    private async Task UpdatePoints(){
        var from = PointsInternal;
        var to = Points;
        PointsInternal = Points;

        await JsRuntime.InvokeVoidAsync("runCounter", Id, from, to);
    }
}