@implements IAsyncDisposable

@inject IJSRuntime JsRuntime

<div id="clock-div" class="font-bold align-middle">
    00:00
</div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JsRuntime.InvokeVoidAsync("startClock");
    }

    public async ValueTask DisposeAsync()
    {
        await JsRuntime.InvokeVoidAsync("stopClock");
    }
}