@using Flights.Client.Shared.Toolkit
<div class="@GetClasses()" @onclick="@OnClick">
    <MudIcon Icon="@Icons.Material.Outlined.Campaign" Size="Size.Large" Color="Color.Error"/>
    <AudioPlayer @ref="@HornPlayer" Source="airhorn.mp3"/>
</div>

@code{
    private bool IsPressed {get;set;}
    
    private AudioPlayer? HornPlayer { get; set; }
    
    private async Task OnClick(){
        IsPressed = true;
        var timer = new Timer(EndPressed, null, 180, Timeout.Infinite);

        if(HornPlayer != null)
            await HornPlayer.Restart();

        await Task.Delay(200);
        await timer.DisposeAsync();
    }

    private void EndPressed(object? _)
    {
        IsPressed = false;
        InvokeAsync(StateHasChanged);
    }

    private string GetClasses(){
        var baseClass = "rounded border border-red-500 mud-elevation-5 text-center cursor-pointer pt-[20px] h-[80px] ";

        if(IsPressed)
            return baseClass + " bg-red-500";

        return baseClass;
    }
}