@using Flights.Domain.Entities;

<div class="@GetClasses()" @onclick="OnClick">
    <div class="text-2xl prevent-select">
        @GetCaption()
    </div>
</div>

@code{
    [Parameter]
    public DartModifier SelectedModifier {get;set;}

    [Parameter]
    public EventCallback<int> ReportScore {get;set;}

    private bool IsPressed {get;set;}

    private async Task OnClick(){
        IsPressed = true;
        var timer = new Timer(EndPressed, null, 180, Timeout.Infinite);    

        if(SelectedModifier != DartModifier.Triple)
            await ReportScore.InvokeAsync(25);

        await Task.Delay(200);
        timer.Dispose();
    }  

    private void EndPressed(object? _)
    {
        IsPressed = false;
        InvokeAsync(StateHasChanged);
    }

    private string GetClasses(){
        var baseClass = "grid col-span-2 cursor-pointer rounded mud-elevation-5 h-[80px] items-center justify-items-center ";

        switch(SelectedModifier){
            case DartModifier.Double:
                return baseClass + "text-white " + (IsPressed ? "bg-red-300" : "bg-red-500");
            case DartModifier.Triple:
                return baseClass + "bg-gray-300 text-gray-400";
            case DartModifier.None:
            default:
                return baseClass + "text-white " + (IsPressed ? "bg-green-400" : "bg-green-600");
        }
    }

    private string GetCaption(){
        switch(SelectedModifier){
            case DartModifier.Double:
                return "Bullseye";
            case DartModifier.Triple:
                return "-";
            case DartModifier.None:
            default:
                return "Bulls";
        }
    }
}