@using Flights.Domain.State

<div class="grid grid-cols-3">
    <DartStat Dart="@Darts.D1"/>
    <DartStat Dart="@Darts.D2"/>    
    <DartStat Dart="@Darts.D3"/>    
</div>

@code{
    [Parameter]
    public DartsState Darts {get;set;} = null!;
}