@using Flights.Domain.Entities.Game
@using Flights.Client.Shared.Game.X01
@using Flights.Client.Shared.Game.Cricket
@using Flights.Client.Shared.Game.AroundTheClock

@inject IJSRuntime JsRuntime

<div class="flex flex-1 overflow-hidden">
    @switch (Controls.CurrentGame.Type)
    {
        case GameType.X01:
            <X01Game/>
            break;
        case GameType.Cricket:
        case GameType.CtCricket:
            <CricketGame/>
            break;
        case GameType.AroundTheClock:
            <AroundTheClockGame/>
            break;
        default:
            <div>
                Nothing
            </div>
            break;
    }
</div>


@code{
    [CascadingParameter]
    public required GameControls Controls { get; set; }
    
    protected override async Task OnAfterRenderAsync(bool firstRender){
        var id = Controls.CurrentGame.CurrentPlayerId;

        if(id == null)
            return;

        await JsRuntime.InvokeVoidAsync("scrollToControl", id.ToString());
    }
}