<div class="@GetClasses()" @onclick="@OnClick">
    <MudIcon Icon="@Icons.Material.Outlined.Backspace" Size="Size.Large" Color="Color.Error"/>
</div>

@code{
    [CascadingParameter]
    public required GameControls Controls { get; set; }

    private bool IsPressed {get;set;}

    private async Task OnClick()
    {
        if (Controls.RequestRevertDart == null)
            return;
        
        IsPressed = true;
        var timer = new Timer(EndPressed, null, 180, Timeout.Infinite);    

        await Controls.RequestRevertDart();

        await Task.Delay(200);
        await timer.DisposeAsync();
    }

    private void EndPressed(object? _)
    {
        IsPressed = false;
        InvokeAsync(StateHasChanged);
    }

    private string GetClasses(){
        var baseClass = "rounded border border-red-500 mud-elevation-5 text-center cursor-pointer pt-[20px] h-[80px] ";

        if(IsPressed)
            return baseClass + " bg-red-500";

        return baseClass;
    }
}