<div class="@GetButtonClasses()" @onclick="OnClick">
    <div class="text-2xl text-white prevent-select">
        @Number
    </div>
</div>

@code{
    [Parameter]
    public int Number {get;set;}

    [Parameter]
    public EventCallback<int> ReportScore {get;set;}

    private bool IsPressed {get;set;}

    private async Task OnClick(){
        IsPressed = true;
        var timer = new Timer(EndPressed, null, 150, Timeout.Infinite);    
        await ReportScore.InvokeAsync(Number);
    }  

    private void EndPressed(object? _)
    {
        IsPressed = false;
        InvokeAsync(StateHasChanged);
    }

    private string GetButtonClasses(){
        var baseClasses = "w-[80px] h-[80px] rounded cursor-pointer mud-elevation-5 grid items-center justify-items-center ";

        if(IsPressed)      
            return baseClasses + "bg-gray-300";

        return baseClasses + "bg-gray-500";
    }
} 