<div class="flex flex-1">
    <div class="flex flex-1 flex-row mx-1 h-[752px] overflow-hidden">
        <div class="flex flex-column flex-auto mr-1 overflow-auto">
            <div class="flex justify-evenly">
                @foreach (var round in Controls.CurrentTournament.Rounds)
                {
                    <TournamentRound Round="@round"/>
                }
            </div>
        </div>
        <div class="flex-shrink">
            <TournamentInfo/>
        </div>
    </div>
</div>

@code{
    [CascadingParameter]
    public required TournamentControls Controls {get;set;}
}