@using Flights.Domain.State;

<div class="flex flex-col justify-evenly h-[752px]">
    @if(Round.Wildcard != null){
        <Wildcard Player="@Round.Wildcard"/>
    }
    @foreach(var game in Round.Games){
        <GameItem Game="@game"/>
    }
</div>

@code{
    [CascadingParameter]
    public required TournamentControls Controls {get;set;}
    
    [Parameter]
    public required TournamentRoundState Round {get;set;}
}    


