@using Flights.Domain.State

<div class="flex flex-row justify-center rounded border border-light-border bg-light-surface dark:border-dark-border dark:bg-dark-surface mud-elevation-3 py-2">
    <div class="mt-1 mr-2">
        <MudIcon Icon="@Icons.Material.Filled.Star" Size="Size.Medium" Color="Color.Warning"/>
    </div>
    <div class="text-2xl text-center text-light-player-text-active dark:text-dark-player-text-active">
        @Player.Name
    </div>            
</div>

@code{
    [Parameter]
    public required TournamentPlayerState Player {get;set;}
}    
